.column {

    height: 100%;
    min-width: 280px;
    max-width: 280px;
    width: 280px;
    padding-top: 15px;
}

.column__header {

    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    box-shadow: inset 0 3px 0 #ffab00;
    padding: 0px 4px;
    box-sizing: border-box;

}

.column__title h2{
font-size: 14px;

}


.column__header__btn, .column__btns_1, .column__btns_2{

    display: flex;
}

.column__btns_2 {

    padding-left: 8px;
    padding-right: 4px;
}

.column__btns_2 button {

    background-color: #ffab00;
    color: white;
}

.column__btns_2 button:hover {

    background: #ffab00;
    color: white;
}

.column__main {

    width: 100%;
    height: 100%;
    margin-top: 8px;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    box-shadow: inset 0 0 0 1px #e8e8e8;
}


.item__edit_wrapper {


    height: 600px;
    width: 800px;
    display: flex;
    flex-direction: column;

}

.item__edit_1{

    height: fit-content;
    margin-bottom: 12px;
}

.item__edit__1 input {

    height: 40px;
    margin-top: 8px;
    box-sizing: border-box;
}

.item__edit__2 {

    height: 60%;
    margin-top: 12px;
}

.item__edit__2 input {

    margin-top: 8px;
    box-sizing: border-box;

}