.column {

    height: 100%;
    min-width: 280px;
    max-width: 280px;
    width: 280px;
    padding-top: 15px;
}

.column__header {

    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    box-shadow: inset 0 3px 0 #ffab00;
    padding: 0px 4px;
    box-sizing: border-box;
    position: relative;
    transition: box-shadow 0.3s ease;

}

.column__title h2{
font-size: 14px;

}


.column__header__btn, .column__btns_1, .column__btns_2{

    display: flex;
}

.column__btns_2 {

    padding-left: 8px;
    padding-right: 4px;
}

.column__btns_2 button {

    background-color: #ffab00;
    color: white;
}

.column__btns_2 button:hover {

    background: #ffab00;
    color: white;
}

.column__main {

    width: 100%;
    height: 100%;
    margin-top: 8px;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    box-shadow: inset 0 0 0 1px #e8e8e8;
}


.item__edit_wrapper {


    height: 600px;
    width: 800px;
    display: flex;
    flex-direction: column;

}

.item__edit_1{

    height: fit-content;
    margin-bottom: 12px;
}

.item__edit__1 input {

    height: 40px;
    margin-top: 8px;
    box-sizing: border-box;
}

.item__edit__2 {

    height: 60%;
    margin-top: 12px;
}

.item__edit__2 input {

    margin-top: 8px;
    box-sizing: border-box;

}



.background--1 {

    background-color: rgb(255, 61, 0);
}

.column--background--1 {

    box-shadow: inset 0 3px 0 rgb(255, 61, 0);
}

.background--1 input{

    color: rgb(255, 61, 0);
    accent-color: rgb(255, 61, 0);
    border: 1px solid rgb(255, 61, 0);
}
.background--1 input:hover{

    color: rgb(255, 61, 0);
    accent-color: rgb(255, 61, 0);
    border: 1px solid rgb(255, 61, 0);
}
.background--2 {

    background-color: rgb(245, 31, 126);
}

.column--background--2 {

    box-shadow: inset 0 3px 0 rgb(245, 31, 126);
}

.background--2 input{

    color: rgb(245, 31, 126);
    accent-color: rgb(245, 31, 126);
    border: 1px solid rgb(245, 31, 126);
}
.background--2 input:hover{

    color: rgb(245, 31, 126);
    accent-color: rgb(245, 31, 126);
    border: 1px solid rgb(245, 31, 126);
}
.background--3 {

    background-color: rgb(162, 0, 242);
}

.column--background--3 {

    box-shadow: inset 0 3px 0 rgb(162, 0, 242);
}

.background--3 input{

    color: rgb(162, 0, 242);
    accent-color: rgb(162, 0, 242);
    border: 1px solid rgb(162, 0, 242);
}
.background--3 input:hover{

    color: rgb(162, 0, 242);
    accent-color: rgb(162, 0, 242);
    border: 1px solid rgb(162, 0, 242);
}
.background--4 {

    background-color: rgb(101, 29, 255);
}

.column--background--4 {

    box-shadow: inset 0 3px 0 rgb(101, 29, 255);
}

.background--4 input{

    color: rgb(101, 29, 255);
    accent-color: rgb(101, 29, 255);
    border: 1px solid rgb(101, 29, 255);
}
.background--4 input:hover{

    color: rgb(101, 29, 255);
    accent-color: rgb(101, 29, 255);
    border: 1px solid rgb(101, 29, 255);
}
.background--5 {

    background-color: rgb(0, 106, 210);
}

.column--background--5 {

    box-shadow: inset 0 3px 0 rgb(0, 106, 210);
}

.background--5 input{

    color: rgb(0, 106, 210);
    accent-color: rgb(0, 106, 210);
    border: 1px solid rgb(0, 106, 210);
}
.background--5 input:hover{

    color: rgb(0, 106, 210);
    accent-color: rgb(0, 106, 210);
    border: 1px solid rgb(0, 106, 210);
}
.background--6 {

    background-color: rgb(0, 157, 255);
}

.column--background--6 {

    box-shadow: inset 0 3px 0 rgb(0, 157, 255);
}

.background--6 input{

    color: rgb(0, 157, 255);
    accent-color: rgb(0, 157, 255);
    border: 1px solid rgb(0, 157, 255);
}
.background--6 input:hover{

    color: rgb(0, 157, 255);
    accent-color: rgb(0, 157, 255);
    border: 1px solid rgb(0, 157, 255);
}
.background--7 {

    background-color: rgb(0, 188, 212);
}

.column--background--7 {

    box-shadow: inset 0 3px 0 rgb(0, 188, 212);
}

.background--7 input{

    color: rgb(0, 188, 212);
    accent-color: rgb(0, 188, 212);
    border: 1px solid rgb(0, 188, 212);
}
.background--7 input:hover{

    color: rgb(0, 188, 212);
    accent-color: rgb(0, 188, 212);
    border: 1px solid rgb(0, 188, 212);
}
.background--8 {

    background-color: rgb(0, 191, 165);
}

.column--background--8 {

    box-shadow: inset 0 3px 0 rgb(0, 191, 165);
}

.background--8 input{

    color: rgb(0, 191, 165);
    accent-color: rgb(0, 191, 165);
    border: 1px solid rgb(0, 191, 165);
}
.background--8 input:hover{

    color: rgb(0, 191, 165);
    accent-color: rgb(0, 191, 165);
    border: 1px solid rgb(0, 191, 165);
}
.background--9 {

    background-color: rgb(100, 221, 23);
}

.column--background--9 {

    box-shadow: inset 0 3px 0 rgb(100, 221, 23);
}

.background--9 input{

    color: rgb(100, 221, 23);
    accent-color: rgb(100, 221, 23);
    border: 1px solid rgb(100, 221, 23);
}
.background--9 input:hover{

    color: rgb(100, 221, 23);
    accent-color: rgb(100, 221, 23);
    border: 1px solid rgb(100, 221, 23);
}
.background--10 {

    background-color: rgb(255, 171, 0);
}

.column--background--10 {

    box-shadow: inset 0 3px 0 rgb(255, 171, 0);
}

.background--10 input {

    color: rgb(255, 171, 0);
    accent-color: rgb(255, 171, 0);
    border: 1px solid rgb(255, 171, 0);
}
.background--10 input:hover {

    color: rgb(255, 171, 0);
    accent-color: rgb(255, 171, 0);
    border: 1px solid rgb(255, 171, 0);
}
.background--11 {

    background-color: rgb(255, 111, 0);
}

.column--background--11 {

    box-shadow: inset 0 3px 0 rgb(255, 111, 0);
}

.background--11 input {

    color: rgb(255, 111, 0);
    accent-color: rgb(255, 111, 0);
    border: 1px solid rgb(255, 111, 0);
}
.background--11 input:hover {

    color: rgb(255, 111, 0);
    accent-color: rgb(255, 111, 0);
    border: 1px solid rgb(255, 111, 0);
}
.background--12 {

    background-color: rgb(109, 124, 135);
}

.column--background--12 {

    box-shadow: inset 0 3px 0 rgb(109, 124, 135);
}

.background--12 input {

    color: rgb(109, 124, 135);
    accent-color: rgb(109, 124, 135);
    border: 1px solid rgb(109, 124, 135);
}
.background--12 input:hover {

    color: rgb(109, 124, 135);
    accent-color: rgb(109, 124, 135);
    border: 1px solid rgb(109, 124, 135);
}

