main{

    height: calc(100vh - 97px);
    display: flex;
    padding: 0 24px;
    background-color: #fafafa;
    gap: 8px;
    overflow-x: auto;
}


.creation__column{

    height: 244px;
    width: 488px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.creation__input {

    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}



.creation__input input {

    height: 40px;
    margin-top: 8px;
    box-sizing: border-box;
}

.creation__btns {

    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;

}

.creation__btns button {

    padding: 12px 16px;
    color: #48626f;
    border-radius: 4px;
    background-color: #eef2f8;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.creation__btns button:hover {

    background-color: #e8f2fa;
}

.creation__btns .save--button {

    background-color: #0b66ff;
    color: white;
}

.creation__btns .save--button:hover {

    background-color: #5494ff;
}


.creation__btns .save--button--disable {
  
    background-color: #5494ff;
    cursor: not-allowed;
}